{% extends '::backend.html.twig' %}
{% block content %}
<div class="row-fluid">
    <div class="span9 offset2">

        <h1>Gruppe</h1>

        <table class="record_properties">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ entity.name }}</td>
                </tr>
            </tbody>
        </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('gruppe') }}">
                    Back to the list
                </a>
            </li>
            <li>
                <a href="{{ path('gruppe_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </li>
            <li>
                <form action="{{ path('gruppe_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>

     </div>
</div>
{% endblock %}