{% extends '::backend.html.twig' %}

{% block breadcrumb %}
    <li>
        <a href="{{ path('home') }}">Home</a> <span class="divider">/</span>
    </li>
    <li class="active">
        Login
    </li>
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span9 offset2">
    
    {% if error %}
        <div class="alert alert-error ">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Error</h4>
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>
    {% endif %}

    <form class="well" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />

        <label for="remember_me" class="checkbox">
                {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        </label>

        <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
    </form>

   </div>
</div>
{% endblock %}